<h1>各會期資料</h1>
<table class="table">
  <thead>
    <tr>
      <th>年次</th>
      <th>期次</th>
    </tr>
  </thead>
  <tbody>
    <% @legislative_sessions.each do |legislative_session| %>
    <tr>
      <td><%= legislative_session.year %></td>
      <td><%= link_to(legislative_session.session_number, admin_legislative_session_path(legislative_session)) %></td>
    </tr>
    <% end %>
  </tbody>  
</table>
<%= link_to("開始新會期", new_admin_legislative_session_path, class: "btn btn-primary") %>
