<div class="video-wrapper">
  <div class="page-header">
    <h3>質詢影片</h3>
  </div>
  <iframe src="<%= inquiry.video %>", height="600px", width="800px"></iframe>
  <br>
  <span id="video-finish-button" class="btn btn-default">我已經看完影片，開始評鑑</span>
</div>

