<div class="dropdown pull-right">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <%= current_evaluation_full_name %>
    <%= icon('caret-down') %>
  </a>
  <ul class="dropdown-menu">
    <% @evaluations.each do |evaluation| %>
      <li><%= link_to(evaluation.full_name, params.merge(current_evaluation_id: evaluation.id)) %></li>
    <% end %>
  </ul>
</div>