<table class="table">
  <% @parties.each do |party| %>
    <tr>
      <th colspan="5"><%= party.name %></th>
    </tr>
    <tr>
      <% party.congressmen.each do |congressman| %>
        <td><%= link_to(congressman.name, volunteer_congressman_path(congressman)) %></td>
      <% end %>
    </tr>
  <% end %>
  
</table>