<h1>各會期資料</h1>
<table class="table">
  <thead>
    <tr>
      <th>年次</th>
      <th>期次</th>
    </tr>
  </thead>
  <tbody>
    <% @evaluations.each do |evaluation| %>
    <tr>
      <td><%= evaluation.year %></td>
      <td><%= link_to(evaluation.session_number, admin_evaluation_path(evaluation)) %></td>
    </tr>
    <% end %>
  </tbody>  
</table>
<%= link_to("開始新會期", new_admin_evaluation_path, class: "btn btn-primary") %>
