<p>
  <strong>User:</strong>
  <%= @survey.user %>
</p>

<p>
  <strong>evaluation:</strong>
  <%= @survey.evaluation %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
