<h1>本次評鑑所有題目</h1>
<%= link_to("編輯評鑑和題目", edit_admin_evaluation_path(@evaluation), class: "btn btn-primary ") %>
<table class="table">
  <thead> 
    <tr>
      <th>主指標</th>
    </tr>
  </thead>
  <tbody>
  <% if @question_types.present? %>
    <% @question_types.each do |question_type| %>
    <tr>
      <td><%= question_type.name %></td>
      <td>
        <ol>
        <% question_type.questions.each do |question| %>
          <li><%= question.name %></li>
        <% end %>
        </ol>
      </td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
