<%= simple_form_for([:admin, @party_group]) do |f| %>

  <div class="form-inputs">
    <%= f.input :name, label: "政團名稱" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "送出" %>
  </div>
<% end %>
