<h1>政團列表</h1>

<table class="table">
  <thead>
    <tr>
      <th>政團名稱</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @party_groups.each do |party_group| %>
      <tr>
        <td><%= link_to party_group.name, admin_party_group_path(party_group) %></td>
        <td><%= link_to '編輯', edit_admin_party_group_path(party_group) %></td>
        <td><%= link_to '刪除', [:admin, party_group], method: :delete, data: { confirm: '確認刪除？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>新增政團</h4>
<%= render 'form' %>
