<h1>會期評鑑管理</h1>
<%= link_to("新增國會屆次", new_admin_term_path, class: "btn btn-primary pull-right") %>
<table class="table">
  <thead>
    <tr>
      <th>屆數</th>
      <th>會期</th>
    </tr>
  </thead>
  <tbody>
    <% @terms.each do |term| %>
    <tr>
      <td>
        <%= "第 #{term.term_number} 屆"%>
      </td>
      <td>
        <table class="table">
        <% term.evaluations.each do |evaluation| %>
          <tr>
            <td><%= link_to("第 #{evaluation.session_number} 會期", admin_term_evaluation_path(term, evaluation)) %></td>
          </tr>
        <% end %>
          <tr>
            <td>
              <%= link_to("+ 新增會期", new_admin_term_evaluation_path(term), class: "pull-right") %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <% end %>
  </tbody>  
</table>
