<!-- Tab -->
<h1>第 <%= @term.term_number %> 屆會期</h1>
<table class="table">
  <thead>
    <tr>
      <th>會期</th>
    </tr>
  </thead>
  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= link_to(evaluation.full_name, admin_term_evaluation_path(@term, evaluation)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to("新增會期", new_admin_term_evaluation_path(@term), class: "btn btn-primary pull-right") %>
