<!-- Tab -->
<h1>第 <%= @term.term_number %> 屆立委</h1>
<%= link_to("開始新會期", new_admin_evaluation_path, class: "btn btn-primary pull-right") %>
<table class="table">
  <tr>
    <th>會期</th>
  </tr>
</table>
<% @evaluations.each do |evaluation| %>
  <tr>
    <td><%= evaluation.full_name %></td>
    <td><%= link_to("查看本會期問卷題目", admin_evaluation_questions_path(evaluation)) %></td>
  </tr>
<% end %>
