<table class="table">
  <thead>
    <tr>
      <th>姓名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "admin/parties/congressman", collection: congressmen, as: :congressman %>
  </tbody>

</table>
