<div class="col-sm-2">
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to("瀏覽所有會期資料", admin_legislative_sessions_path) %></li>
    <li><%#= link_to("瀏覽所有問卷題目", ) %></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>