<div class="col-sm-2">
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to("會期評鑑管理", admin_terms_path) %></li>
    <li>國會立委管理</li>
    <li><%= link_to("問卷題目指標", admin_question_types_path) %></li>
  </ul>
</div>